
endpoints.yml
actions/__init__.py
credentials.yml

## rasa cache, results, tests, models, and story graph
actions/__pycache__/
.rasa/cache/*
results/
tests/
models/
*.dot

# firebase credentials
*.json

#exported interactive files
testdomain.yml
testnlu.yml
teststories.yml